.rounded > input
{
	border-left: 0px;
	-webkit-box-shadow:inset 0 0px 0px 0px;
	box-shadow:inset 0 0px 0px 0px;
}

.rounded > input:focus
{
	-webkit-box-shadow:inset 0 -5px 10px -10px;
	box-shadow:inset 0 -5px 10px -10px;
}

.rounded > span > button
{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	outline: none;
}

.rounded > .input-group-addon
{
	border-right: 0px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	top: 0px !important;
}

.user-block>a {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.user-block>a>img {
  height: 35px;
  border-radius: 50px;
  margin-right: 5px;
}

.user-block>ul {
  width: 179px !important;
}
