{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block pagecontent %}

<form class="form-horizontal col-xs-12 col-sm-12 col-md-8 col-lg-8" data-toggle="validator">
  <h2> Login </h2>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="user@mail.ru" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="qst">Password:</label>
    <div class="col-sm-10">
       <input type="password" class="form-control" id="email" placeholder="password" required>
       <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>

{% endblock %}
