<div class="answerblock">
	<div class="left col-xs-1 col-md-1">
		<img src="/img/bender.jpg">
		<form>
			<input class="form-control" type="number" value="5">
		</form>
	</div>
	<div class="answercontent col-xs-9 col-md-10">
    <div class="btext">
      Guys, I have trouble with a moon park. <br> Can't find the black-jack...
    </div>
    <form>
      <div class="checkbox">
        <label><input type="checkbox" value="">&nbsp;<b>Correct!</b></label>
      </div>
    </form>
	</div>
	<div class="clear-fix"></div>
</div>
