<div class="questionblock">
	<div class="left col-xs-1 col-md-1">
		<img src="/img/bender.jpg">
		<form>
			<input class="form-control" type="number" value="5">
		</form>
	</div>
	<div class="questioncontent col-xs-9 col-md-10">
		<span class="question"><a href="/question/1/">{{question.title}}</a></span>
		<div class="btext" style="border-bottom: 1px solid #e7e7e7">
			{{question.text}}
		</div>
		<div class="meta">
			<span class="answers"><a href="#">{{question.answers}}</a></span>
			<span class="tags">
				Tags:
				{% for tag in question.tags %}
					<a href="{% url 'tag' tagname=tag %}">{{tag}}</a>
				{% endfor %}
			</span>
		</div>
	</div>
	<div class="clear-fix"></div>
</div>
