<div class="block">
  <div class="name">Popular&nbsp;Tags:</div>
  <div class="content" id="tagcloud">
    perl python TechnoPark MySQL django Mail.Ru Voloshin Firefox
  </div>
</div>
<div class="block">
  <div class="name">Best&nbsp;Members:</div>
  <div class="content" id="tagcloud">
    <ul class="members">
  		<li><a href="#">Mr. Freeman</a></li>
  		<li><a href="#">Dr. House</a></li>
  		<li><a href="#">Bender</a></li>
  		<li><a href="#">Queen Victoria</a></li>
  		<li><a href="#">D. Zaytsev</a></li>
  	</ul>
  </div>
</div>
