{% extends "base.html" %}

{% block title %} Sign up! {% endblock %}
{% block extracss %}
  <link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block pagecontent %}

<form class="form-horizontal col-xs-12 col-sm-12 col-md-8 col-lg-8" id="signupform" data-toggle="validator">
  <h2> Sign up </h2>
  <div class="form-group">
    <label class="control-label col-sm-2" for="login">Login:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="login" placeholder="username" required>
      <div class="help-block with-errors"></div>
    </div>
    <div class="col-xs-5 messageContainer"></div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="user@mail.ru" required>
      <div class="help-block with-errors"></div>
      <div class="col-xs-5 messageContainer"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="John Smith" required>
      <div class="help-block with-errors"></div>
    </div>
    <div class="col-xs-5 messageContainer"></div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="upload-img">Upload avatar</label>
    <div class="col-sm-10">
      <img alt="User image" src="/img/no-avatar.png" class="user-image-big">
      <label class="upload file-upload" for="upload-img">
        <mark>Choose img...</mark><span class="btn btn-primary">Upload</span>
        <input type="file" id="upload-img" class="form-control">
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
</form>

{% endblock %}
